{% extends '::base.html.twig' %}

{% block bodyClass %}page-404-full-page{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number">
                404
            </div>
            <div class="details">
                <h3>Oops! {{ "You're lost."|trans }}</h3>
                <p>
                    {{ "We can not find the page you're looking for."|trans}}<br/>
                    <a href="{{ path('home') }}">
                        {{ "Return home"|trans }} </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}






