<div id="modal-report-voucherTransport" class="modal fade static" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{ ""|trans }}</h4>
            </div>
            <div class="modal-body">
                <p>
                </p>
            </div>
            <div class="modal-footer">
                <form method="get">
                    <button type="submit" class="btn red">{{ ""|trans }}</button>
                    <button type="button" data-dismiss="modal" class="btn default">{{ "Cancel"|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

